@import "tailwindcss";

:root {
  --background: #0F172A;
  --foreground: #E2E8F0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
}
